/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* start ------------------------------------------------------ */

/* :root {

} */
:root {
  --padding-s: 10px;

  --simple-box-shadow: black -4px 3px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green,
  );
  opacity: 0.75;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* height: 100dvh; */
  /* width: 100vw; */
}

li {
  list-style: none;
}

button {
  padding: var(--padding-s);
}

.container {
  display: grid;
  grid-template: auto 1fr 2fr auto  / minmax(80vw, auto);
  grid-template-areas: 
    "header"
    "main"
    "main"
    "footer";
}

.header {
  grid-area: header;
  background-color: lightblue;
  padding: var(--padding-s);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

dialog:open {
  place-self: center;
  border: 3px solid slategray;
  border-radius: 8px;
}

dialog::backdrop{
  background:rgba(0, 0, 0, 0.692);
}

form label {
  display: block;
}

form .btns {
  display: flex;
  justify-content: end;
  gap: .5rem;
}

#addButton:hover {
  background-color: rgba(0, 128, 0, 0.336);
}
#cancel:hover {
  background-color: rgba(128, 0, 0, 0.336);
}

.main {
  grid-area: main;
  background-color: lightgoldenrodyellow;
  padding: var(--padding-s);

  gap: 10px;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.bookShelf {
  background-color: orange;
  border: 1px solid black;
  border-radius: 8px;

  display: grid;
  grid-template: 1fr / 1fr 1fr;

  gap: 6px;

  padding: var(--padding-s);
  box-shadow: var(--simple-box-shadow);
}

.bookCard {
  border: 1px solid gray;
  background-color: lightcyan;
  border-radius: 8px;

  display: grid;
  grid-template: repeat(4, 1fr) / auto;


  padding: var(--padding-s);
  box-shadow: var(--simple-box-shadow);
}

.footer {
  grid-area: footer;
  background-color: lightgreen;
  padding: var(--padding-s);

  display: flex;
  justify-content: center;
}